$fonte: 'Outfit', sans-serif;

$preto: #000;
$azul: #063a6b;
$dourado: #e59917;


body {
  font-family: $fonte;
  background-color: #fff;
}

.nav-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.nav-scroll a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: $preto;
    text-decoration: none;
}

.nav-scroll a:hover {
    color: $dourado;
}

/* Remove a barra de rolagem do menu em dispositivos Apple */
.nav-scroll::-webkit-scrollbar {
    display: none;
}
.nav-scroll {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;     /* Firefox */
}

